dbdata/

# Distribution / packaging
**/__pycache__

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

