Django>=2.0
#redis for use with django-channels (asgi as opposed to the standard django wsgi)
asgi-redis
#async task/job queue: works with rabbitmq (recommended) or redis
celery
joblib
#django for websockets
channels
#built on top of asyncio which can be sped up with uvloop
websockets
#websockets client
websocket-client
#django/djangorest add-ons
coreapi
django-crispy-forms
#for CORS (Cross-Origin Resource Sharing headers to http responses -> may sort out issues with angular
django-cors-headers
#12factor inspired dj utility to use DATABASE_URL env variable
dj-database-url
django-filter
django-guardian
django-redis
djangorestframework
#celery real-time monitoring
flower
#faster event loops with asyncio if required
uvloop
#faster http parsing etc.
httptools
pycohttpparser
#backend application (non-static) http server -> static will be served by nginx, websockets by daphne(channels): uwsgi installed with conda
gunicorn
#celery add-on
jobtastic
markdown
#rabbitmq python client:
pika
#for postgres:
psycopg2
pyzmq
#python client for redis as message brokers
redis
#very fast serialization lib (as is ujson):
serpy
sqlalchemy
#meant to be very fast serialization etc.
ujson
#meant to be able to serve static files without nginx etc
whitenoise
#graphql stuff
graphene
graphene-django
graphql-ws
django-graphql-jwt
graphene-sqlalchemy
#rpc (stuff used by tensorflow serving)
grpcio
